$exo: "Exo 2";
$ptsans: "PT Sans";
$gray: rgba(107, 107, 108, 1);
$black: rgba(54, 55, 56, 1);
$white: rgba(255, 255, 255, 1);
.clients__container {
  width: 1240px;
  height: 917px;
  margin: 212px 100px;
  background-color: rgba(11, 117, 114, 1);
  h3 {
    max-width: 477px;
    font-family: $exo;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    padding: 100px 81px;
    color: $white;
  }
  .clients__box {
    width: 652px;
    height: 747px;
    padding-top: 85px;
    padding-left: 521px;
    border-radius: 8px;
    color: $white;
    .box__head {
      display: flex;
    }
  }
}
