$gray1: rgba(249, 249, 251, 1);
$linegray: rgba(233, 234, 242, 1);

.contacts__container {
  padding-top: 130px;
  .contact {
    display: flex;
  }
  h4 {
    font-family: $exo;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $black;
  }
  .left-contact {
    display: flex;
    gap: 37px;
    margin-bottom: 44px;
    p {
      font-family: $ptsans;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin: 8px;
      color: $gray;
    }
    a {
      font-family: $exo;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: $black;
      text-decoration: none;
    }
  }
  .right {
    width: 794px;
    height: 383px;
    border-radius: 5px;
    background-color: $gray1;
    margin-left: 198px;
  }
  .right-about {
    display: flex;
    align-items: center;
    gap: 56px;
    margin: 20px 48px;
    p {
      font-family: $ptsans;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $gray;
    }
    span {
      font-family: $exo;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: $black;
      cursor: text;
    }
    .line2 {
      width: 674px;
      height: 1px;
      border: 1px solid $linegray;
    }
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .right {
    width: 794px;
    height: 483px;
    padding-left: -18px;
  }
}
@media screen and (max-width: 768px) {
  .contacts__container {
    padding-top: 130px;
    .contact {
      display: flex;
      flex-direction: column;
    }
    .left-contact {
      margin-bottom: 10px;
    }
  }
  .right {
    width: inherit;
    height: 483px;
    margin: 0;
  }
}
