$darkgreen: rgba(11, 117, 114, 1);
$orange1: rgba(255, 150, 25, 1);

.footer__container {
  width: 1440px;
  height: 365px;
  background-color: $darkgreen;
  .foots {
    display: flex;
  }
  .foot {
    display: flex;
    padding-top: 80px;
    gap: 60px;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .logos {
    margin-left: 95px;
    font-family: "Familjen Grotesk";
    font-size: 60px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 0.16em;
    color: $white;
  }
  .catalog {
    a {
      padding-top: 80px;
      font-family: $exo;
      font-size: 13px;
      font-weight: 600;
      line-height: 19.5px;
      letter-spacing: 0.16em;
      color: $white;
    }
  }
  .foot-link {
    display: flex;
    gap: 14px;
    margin-top: 10px;
    margin-bottom: 32px;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 271px;
    height: 42px;
    background-color: $orange1;
    padding: 7px 11px;
    color: $white;
    margin-top: 32px;
    transition: all 0.5s;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
  a {
    color: $white;
  }
  p {
    margin-left: 533px;
    margin-top: 60px;
    color: $white;
  }
}
@media screen and (max-width: 1200px) {
  .footer__container {
    width: 1140px;
    max-width: inherit;

    .foot {
      flex-direction: column;
      gap: 40px;
    }

    .foot > a {
      margin-left: 65px;
      font-size: 40px;
      font-weight: 500;
      line-height: 80px;
    }
  }
}
@media screen and (max-width: 540px) {
  .footer__container {
    width: 375px;
    height: 581px;
    max-width: inherit;

    .foot {
      margin-top: 10px;
      flex-direction: column;
      gap: 20px;
    }

    .logos {
      padding-top: -50px;
      margin-left: 65px;
      font-size: 40px;
      font-weight: 500;
      line-height: 80px;
    }
  }
}
