.logo__container {
  margin-top: 120px;
  h4 {
    font-family: $exo;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $black;
  }
  .lines {
    margin-left: 73px;
    height: 183px;
    border: 1px solid rgba(215, 215, 221, 1);
  }
  .logo {
    display: flex;
    margin-bottom: 100px;
    .pocatom {
      display: flex;
      flex-direction: column;
      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 22px;
        padding-bottom: 10px;
      }
      p {
        margin-left: -40px;
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
      }
    }
    .pocatom2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 60px;

      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
      p {
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-left: 20px;
      }
    }
    .pocatom3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;
      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
      p {
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-left: 20px;
      }
    }
    .pocatom4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;
      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
      p {
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-left: 20px;
      }
    }
  }
  .about-logo {
    display: flex;
    margin-left: 64px;
  }
  .logo2 {
    display: flex;
    margin-bottom: 40px;
    .pocatom {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
    span {
      display: flex;
      justify-content: center;
      font-family: $exo;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      color: $black;
      padding-top: 57px;
    }
    p {
      display: flex;
      justify-content: center;
      margin-left: -40px;
      font-family: $ptsans;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $gray;
    }

    .pocatom2 {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      img {
        margin-left: 30px;
      }
      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      p {
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-left: 20px;
      }
    }
    .pocatom3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 25pxx;
      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
      p {
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-left: 20px;
      }
    }
    .pocatom4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 60px;
      span {
        font-family: $exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: $black;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
      p {
        font-family: $ptsans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-left: 20px;
      }
    }
  }
  .about-logo2 {
    display: flex;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .logo__container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 968px) {
  .logo__container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .logo__container {
    max-width: 120px;
  }
  .logo {
    flex-direction: column;
  }
  .logo2 {
    flex-direction: column;
    gap: 30px;
  }
  .pocatom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: -20px;
  }
  .about-logo {
    margin-left: -30px;
  }
}
